@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
  --font-main-content: 'Roboto', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  font-family: var(--font-main-content);
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.header {
  padding: 2rem;
  z-index: 2;
  background-color: white;
  box-shadow: 0 10px 10px -4px lightgray;
  grid-column: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 4fr 4fr 1fr 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.header img:nth-child(1) {
  width: 5rem;
}
.header img:nth-child(2) {
  width: 3rem;
}

.buttons {
  grid-column: 7 / 8;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  grid-gap: 2rem;
}

.header button {
  color: white;
  outline: none;
  border: none;
  background-color: rgba(33, 134, 201, 1);
  padding: 0.75rem 2rem;
  border-radius: 9999px;
  font-size: 18px;
}

.header button:hover {
  background-color: rgba(33, 134, 201, 0.8);
}

.search-bar {
  grid-column: 2 / 7;
  align-self: center;
  display: grid;
  grid-template-columns: 1fr 30fr;
  align-items: center;
}

.search-bar input {
  border: none;
  width: 75%;
  height: 2rem;
  border-radius: 9999px;
  background-color: rgba(222, 228, 237, 1);
}

.search-bar input:focus {
  outline: none;
}

.welcome {
  grid-column: 2 / 4;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
}

.welcome img {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  align-self: center;
}

.welcome .hello {
  align-self: center;
}

.one {
  font-size: 1rem;
  font-weight: bold;
}

.two {
  font-size: 2rem;
  font-weight: bolder;
}

.profile {
  grid-column: 7 / 9;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  justify-items: center;
}

.profile svg {
  justify-self: end;
}

.profile p{
  justify-self: start;
  grid-column: span 2;
  font-size: 1.5rem;
  font-weight: bold;
}

.sidebar {
  color: white;
  background-color: rgba(33, 134, 201, 1);
  grid-row: 1 / 3;
}

.sidebar a {
  text-decoration: none;
  color: white;
  padding-left: 1rem;
}

.sidebar .top {
  list-style: none;
  padding-top: 1.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 2fr repeat(5, 1fr);
  justify-items: start;
  gap: 2rem;
}

.sidebar .bottom {
  list-style: none;
  margin-top: 5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  justify-items: start;
  gap: 2rem;
}

.sidebar ul li {
  padding-left: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.sidebar ul li a {
  padding-left: 2rem;
}

.dashboard {
  font-size: 2.5rem;
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 1fr;
}

.dashboard a {
  position: relative;
  align-self: center;
  left: -18%;
}

.dashboard svg {
  position: relative;
  align-self: center;
  left: -30%;
}

.main-content {
  padding: 3rem 2rem;
  background-color: rgba(222, 228, 237, 1);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 1.5rem;
}

.main-content .projects {
  grid-column: span 3;
  grid-row: span 2;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr repeat(3, 10fr);
  gap: 2rem;
}

.main-content .content-title {
  grid-column: span 2;
  font-size: 1.5rem;
  font-weight: bold;
}

.main-content .card {
  padding: 1rem;
  background-color: white;
  border-left: 10px solid orange;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
  display: grid;
  grid-template-columns: 6fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 50% 1fr;
}

.card .card-title {
  font-size: 1.5rem;
  font-weight: bolder;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  padding: 1rem;
}

.card .card-text {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  padding: 1rem;
  color: rgba(96, 96, 96, .7);
}

.svg-one {
  grid-column: 2 / 3;
  grid-row: 3 / 4;
  place-self: center;
}

.svg-two {
  grid-column: 3 / 4;
  grid-row: 3 / 4;
  place-self: center;
}

.svg-three {
  grid-column: 4 / 5;
  grid-row: 3 / 4;
  place-self: center;
}

.announcements {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
}

.announcement-card {
  padding: 2rem;
  background-color: white;
  width: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
}

.announcement-card .announcement-title {
  font-size: 1.25rem;
  font-weight: bolder;
}

.announcement-card .announcement-text {
  color: rgba(96, 96, 96, 0.8);
}

.site-maintenance {
  padding: 1rem;
  border-bottom: 1px solid rgba(96, 96, 96, 0.3);
}

.community {
  padding: 1rem;
  border-bottom: 1px solid rgba(96, 96, 96, 0.3);
}

.updated-privacy {
  padding: 1rem;
}

.trending {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 7fr;
}

.trending-card {
  padding: 1rem;
  background-color: white;
  width: auto;
  border-radius: 10px;
  box-shadow: 5px 5px 10px lightgray;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: repeat(4, 1fr);
  align-items: center;
  gap: 10px;
}

.trending-card img {
  width: 4rem;
  place-self: center;
}

.trending-card p {
  font-size: 1.2rem;
}

.tag-project{
  color: rgba(96, 96, 96, .7);
}